*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #434455;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}

.section-titel {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-subtitel {
    font-family: inherit;
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.section-text {
    font-family: inherit;
    font-weight: 500;
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*---------------------HEADER---------------------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--IRIS, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;

    margin-right: 76px;
}

.header-logo-blue {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.header-address-list {
    display: flex;
    gap: 40px;
    align-items: center;
    font-style: normal;
}

.header-menu-link:hover,
.header-address-list-link:hover,
.header-menu-link:focus,
.header-address-list-link:focus {
    color: #404bbf;
}

.header-address-list-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

/*------------------------------------------------*/

/*---------------------HERO---------------------------*/

.hero {
    padding: 72px 0;
    background-color: #2e2f42;
    margin: 0 auto;

    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/People-office-mob.jpg");
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/People-office-mob-2x.jpg);
    }
}

.hero-title {
    color: var(--WHITE, #fff);
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    line-height: 111%;
    letter-spacing: 0.02em;

    max-width: 216px;
    margin: 0 auto;

    margin-bottom: 72px;
}

.hero-btn {
    padding: 16px 32px;
    color: var(--WHITE, #fff);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/*---------------------FEATURES---------------------------*/
.features-list {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-item {
    width: 100%;
}

.features-icon {
    display: none;
}

.card-conteiner-icon {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------*/
/*---------------------TEAM---------------------------*/

.team {
    background: var(--CLOUD, #f4f4fd);
}

.team-title {
    margin-bottom: 72px;
}

.container-team {
    padding: 32px 0 32px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
    align-items: center;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
    margin: 0 auto;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-subtitel {
    text-align: center;
    margin-bottom: 8px;
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.team-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-icons-soc {
    width: 40px;
    height: 40px;
}

.team-icons-soc-list {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-soc-list:hover,
.team-icons-soc-list:focus {
    background-color: #404bbf;
}

.icon-icon {
    fill: #f4f4fd;
}

/*------------------------------------------------*/
/*---------------------PORTFOLIO---------------------------*/

.portfolio-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    padding-left: 0;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    align-items: center;
}

.portfolio-item {
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .sellers-cover-text {
    transform: translateY(0%);
}

.portfolio-subtitel {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sellers-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover .sellrs-text-wrap {
    transform: translateY(0%);
}

.sellrs-text-wrap {
    position: absolute;
    display: flex;
    align-items: center;

    top: 0px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sellers-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------------------------------------*/
/*---------------------FOOTER---------------------------*/

.footer {
    background: var(--NAVY-BLUE, #2e2f42);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    margin-right: 120px;
}

.footer-logo {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: var(--NAVY-BLUE, #2e2f42);
}

.footer-logo-blue {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: var(--NAVY-BLUE, #2e2f42);

    margin-bottom: 16px;
    display: inline-block;
}

.footer-heading {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: #2e2f42;
    padding-left: 0;
    width: 264px;
    text-transform: none;
}

.par {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 0;
}

.footer-icons {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-icons-list {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-list:hover,
.footer-icons-list:focus {
    background-color: #31d0aa;
}

.footer-icons-soc {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon-footer {
    fill: #f4f4fd;
}

.footer-subscribe-wrap {
    margin-left: auto;
}

.footer-subscribe {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.footer-input::placeholder {
    color: #ffffff;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.04em;
}

.footer-button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #404bbf;
    cursor: pointer;
    border: none;
}

.icon-frame {
    margin-left: 16px;
}

.backdrop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.btn-x {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-x:focus,
.btn-x:hover {
    background-color: #404bbf;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    padding-top: 24px;
}

.icon-icon-x {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon-x:focus {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    font-size: 12px;
    background-color: transparent;
    padding-left: 38px;

    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-text:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-field-icon {
    fill: #4d5ae5;
}

.modal-text {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    padding: 8px 16px;
}

.modal-text::placeholder {
    font-weight: 400;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-field-check {
    margin-bottom: 24px;
}

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-check:focus+.check-text span {
    border-color: #4d5ae5;
}

.check-text-pp {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check-privacy {
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    fill: transparent;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
}

.modal-check:checked+.check-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .features-list {
        row-gap: 72px;
        column-gap: 24px;
        justify-content: space-between;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-subtitel {
        text-align: start;
    }

    .team {
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
        margin: 0;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/People-office-tablet.jpg);
    }

    .hero-title {
        font-weight: 700;
        font-size: 56px;
        text-align: center;
        max-width: 496px;
        line-height: 107%;
        margin-bottom: 36px;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/People-office-tablet-2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .section {
        padding: 120px 0;
    }

    .features-list {
        justify-content: space-between;
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-icon {
        display: flex;
        gap: 24px;
        justify-content: space-between;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .portfolio {
        padding: 120px 0 120px 0;
    }

    .portfolio-list {
        gap: 48px 24px;
        padding-left: 0;
        margin: auto;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office\ 1.jpg);
    }

    .hero-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 48px;
    }

    .section-subtitel {
        font-family: inherit;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
    }

    .section-text {
        font-family: inherit;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 2x),
(-webkit-min-device-pixel-ratio: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/People-office-desk-2x.jpg);
    }
}