body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

nav ul li a {
    display: block;
}

/*                          Header                                  */


header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-display {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    width: 115px;
    height: 24px;
    margin-right: 76px;
}

nav .web {
    color: #2e2f42;
}

nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-menu-list {
    text-decoration: none;
    list-style-type: none;
}

.content-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.current {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    left: 0;
    border-radius: 2px;
    bottom: -1px;
}

address .contact {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav ul li a:hover {
    color: #404bbf;
}

nav ul li a:focus {
    color: #404bbf;
}

.address-menu {
    margin-left: auto;
    display: flex;
    gap: 40px;
}

address {
    margin-left: auto;
    font-style: normal;
}

address ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

address ul li a:hover {
    color: #404bbf;
}

address ul li a:focus {
    color: #404bbf;
}

address ul li {
    list-style-type: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        max-width: 320px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .header {
        height: 56px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
        width: 115px;
        height: 24px;
        margin-right: 0;
    }
    .header-display {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .header {
        height: 72px;
        /*padding-top: 16px;
        padding-bottom: 16px;*/
    }

    nav {
        display: flex;
        margin-right: 120px;
    }

    .address-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: 0;
    }

    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
        width: 115px;
        height: 24px;
        margin-right: 120px;
    }
    .contact {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
    }
}

/*                 First section                     */



.first-section {
    padding: 188px 0;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-image.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 191dpi) {
    .first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-phone.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) and (min-resolution: 191dpi) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet.jpg);
    }
}

.container-first {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
}

.first-section button {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section button:hover {
    background-color: #404BBF
}

.first-section button:focus {
    background-color: #404BBF
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .first-section {
        padding: 72px 52px;
        background: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-image.jpg);
        background-repeat: no-repeat;
        max-width: 1440px;
        background-size: cover;
        margin: 0 auto;
        background-position: center;
    }

    .first-section h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 216px;
        margin-bottom: 72px;
    }
    .nav-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: 24px;
        height: 24px;
        border: none;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .nav-button:hover {
            fill: #404BBF
        }
    
        .nav-button:focus {
            fill: #404BBF
        }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .first-section {
        padding: 112px 0;
        background: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-image.jpg);
        background-repeat: no-repeat;
        max-width: 1440px;
        background-size: cover;
        margin: 0 auto;
        background-position: center;
    }

    .first-section h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

/*             Second section          */

.second-section {
    padding: 120px 0;
}

.strategy-name {
    margin-bottom: 8px;
}

.second-section .svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.second-section li,
.second-section h3 {
    list-style-type: none;
    width: calc((100% - 72px) / 4);
}

.second-section ul {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    width: calc((100%-72px)/4);
}

.second-section li h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.second-section li p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .second-section ul {
        display: flex;
        flex-direction: column;
        gap: 72px;
        flex-wrap: wrap;
        width: 100%;
        }
        .second-section li,
        .second-section h3 {
            list-style-type: none;
            width: 100%;
        }
        .second-section {
            padding: 96px 0;
        }
        .second-section h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        }
        .second-section li p {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #434455;
        }
    }

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .second-section ul {
        display: flex;
        align-items: center;
        gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
    }

    .second-section li {
        list-style-type: none;
        width: 356px;
    }

    .second-section {
        padding: 96px 0;
    }

    .second-section h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .second-section li p {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

/*              Third section               */

.third-section {
    background: #f4f4fd;
    padding: 120px 0
}

.third-section .worker-menu {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    width: calc((100%-72px)/4);
}

.third-section .worker-list {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.media {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
}

.medias {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.medias a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.medias a:hover,
.medias a:focus {
    background-color: #404bbf;
}

.media-icon {
    fill: #f4f4fd;
}

.third-section h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.third-section .worker-list {
    background-color: #fff;
    list-style-type: none;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.third-section .worker-info {
    padding: 32px 0;
}

.third-section ul li h3 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}

.third-section ul li p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

.container-third {
    padding: 0 28px;
}
.third-section .worker-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    flex-wrap: wrap;
    width: 100%;
    }
.third-section .worker-list {
    background-color: #fff;
    list-style-type: none;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.third-section {
    background: #f4f4fd;
    padding: 96px 0
}
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .third-section .worker-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        row-gap: 64px;
        flex-wrap: wrap;
    }

    .third-section .worker-list {
        background-color: #fff;
        list-style-type: none;
        width: 264px;
        border-radius: 0px 0px 4px 4px;
    }

    .third-section .worker-info {
        padding: 32px 0;
    }

    .third-section {
        background: #f4f4fd;
        padding: 96px 0
    }
}

/* Forth section */

.forth-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.forth-section ul {
    display: flex;
    align-items: center;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.forth-section h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.forth-section .overflow {
    position: relative;
    overflow: hidden;
}

.forth-section .cover-content {
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
}

.app-list {
    background-color: #fff;
    list-style-type: none;
    width: calc((100% - 48px) / 3);
    ;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app-list:hover .cover-content {
    transform: translateY(0);
}

.cover-content {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
.forth-section {
    padding: 96px 0;
}
.forth-section ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.app-list {
    background-color: #fff;
    list-style-type: none;
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .forth-section {
        padding: 96px 0;
    }

    .forth-section ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
    }

    .app-list {
        background-color: #fff;
        list-style-type: none;
        width: 356px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*     Footer section     */

.forth-section .app-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.forth-section ul li h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.forth-section ul li p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

footer {
    background: #2e2f42;
    padding: 100px 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.foot-cont {
    margin-right: 120px;
}

.logo-footer {
    margin-bottom: 16px;
    color: #4d5ae5;
    display: inline-block;
}

footer .web {
    color: #f4f4fd;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

footer .social-media {
    width: calc((100% - 48) / 4);
    height: 80px;
}

footer .social-media-text {
    font-weight: 500;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.media-footer a:hover,
.media-footer a:focus {
    background-color: #31d0aa;
}

.papa {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media {
    gap: 16px;
}

.footer-media .papa:hover,
.footer-media .papa:focus {
    background-color: #31d0aa;
}

.subscribe-field {
    margin-left: 80px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
    align-items: center;
}

.subscribe {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.input-subscribe {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    padding: 8px 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background: #4d5ae5;
    border: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send-button {
    margin-left: 16px;
    fill: #fff;
}

.subscribe-button:hover,
.subscribe-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.input-subscribe::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
.container-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}
.foot-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 0;
}
footer .social-media {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe-form {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
}
.subscribe-field {
    margin-left: 0;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
}
.subscribe {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 0;
}

}

@media screen and (min-width: 768px) and (max-width: 1157px) {
footer {
        background: #2e2f42;
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 108px;
    }

    .container-footer {
        display: flex;
        align-items: center;
        gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
        padding: 0;
    }

    .logo-footer {
        margin-right: 0;
    }

    .foot-cont {
    margin-right: 0;
    width: 264px;
    }

    footer .social-media {
        width: 208px;
        height: 80px;
    }
    .subscribe-field {
        margin-left: 0;
    }
}

/*     Modal window section     */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    margin-left: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.input-field {
    width: 100%;
    padding-left: 38px;
    padding-right: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lable-div {
    margin-bottom: 8px;
}

.field-lable {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.textarea {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-icon-placeholder {
    position: relative;
    margin-bottom: 8px;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.input-field:focus {
    border-color: #4d5ae5;
}

.input-field:focus+.modal-icon {
    fill: #4d5ae5;
}

.comment {
    margin-bottom: 16px
}

.textarea:focus {
    border-color: #4d5ae5;
}

.checkbox-placeholder {
    margin-bottom: 24px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.fake-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checked {
    fill: transparent;
}

.checkbox:checked+.user-conditions>.fake-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox:checked+.user-conditions .checked {
    fill: #ffffff;
}

.user-conditions {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-field {
    display: flex;
    align-items: center;
    gap: 8px;
}

.privacy-policy {
    line-height: 1.33;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.privacy-policy:hover,
.privacy-policy:focus {
    text-decoration: underline;
}

.send-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    margin: 24px auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    padding: 72px 16px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fake-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
}
}

/* local-menu */

@media screen and (min-width: 320px) and (max-width: 767px) {
.local-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 20px;
    padding-bottom: 40px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.local-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}
.content-nav {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: 151px;
}
.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}
.address-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}
.local-menu .media {
    display: flex;
    gap: 40px;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: center;
}
.medias {
    flex-shrink: 0;
}
.local-menu-button {
    background: #e7e9fc;
}
}